@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: mini-wakuwaku;
    src: url("fonts/mini-wakuwaku.otf");
}

:root {
  --pink: #F5B8C5;
  --lightgreen: #9DBEAA;
  --darkgreen: #2D6257;
  --lightbrown: #CCB4A4;
  --darkbrown: #794835;
  --white: #FFFEF2;
  --black: #271D16;

  --t-white: #FFFEF2BB;
  --t-black: #271D1677;
  --t-brown: #BD9F8955;
  --t-darkbrown: rgba(121,72,53,0.7);

  --title-font: mini-wakuwaku, sans-serif;
  --body-font: 'Nunito', sans-serif;



}

* {
  color: var(--black);
  font-family: var(--body-font);
}

body {
  background-color: var(--lightgreen);
}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--title-font);
  color: var(--darkbrown);
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 18px;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  padding: 0 10px;
}

.content-box {
  border: 7px solid var(--lightbrown);
  border-radius: 40px;
  background-color: var(--t-white);
  padding: 20px;
}

.box {
  margin-bottom: 10px;
}

/* Style the search box inside the navigation bar */

.search-bar {
  width: 100%;
}

.search-bar input[type=text] {
  padding: 8px 10px;
  background-color: var(--white);
  border: 7px solid var(--lightbrown);
  font-size: 17px;
  border-radius: 20px;
  width: 100%;
  box-sizing:border-box;

  background-image: url('assets/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;


}

.search-bar input[type=text]:focus {
  outline:none;
  border-color: var(--darkbrown);
}


.search-bar input[type=text]::placeholder {
  color: var(--t-black);
}


.filters {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
}

.filter {
  font-size: 16px;
  background-color: transparent;
  border-radius: 30px;
  border: 3px var(--pink) solid;
  padding: 5px 10px ;

}

.filter:hover[data-selected='0'] {
  background-color: var(--white);
}

.filter[data-selected='1']{
  background-color: var(--t-brown)
}


.resource-box {
  border: 7px solid var(--lightbrown);
  background-color: var(white);
  border-radius: 20px;
  padding: 15px 25px;
  padding-top: 10px;
}

.resource-box p {
  margin: 5px 0;
}

p.desc {

}

p.duration {
  /* font-size: 16px; */
  font-weight: bold;
  white-space: nowrap;
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.info {
  align-items: flex-end;
}

.buttons {
  align-items: center;
}

.tag {
  border-radius: 30px;
  border: 3px var(--lightgreen) solid;
  padding: 5px 10px ;
}

.tags-list {
  align-items: center;
}

.use-button {
  border-radius: 10px;
  background-color: var(--lightbrown);
  padding: 5px 20px;
  border: 6px var(--lightbrown) solid;
  box-sizing: content-box;
}
.use-button p {
  text-align: center;
  margin: 0;
  color: var(--white);
  font-weight: bold;
}

.use-button:hover {
  border: 6px var(--darkbrown) solid;
  background-color: var(--darkbrown);
}
