@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
    font-family: mini-wakuwaku;
    src: url("fonts/mini-wakuwaku.otf");
}

:root {
  --pink: #F5B8C5;
  --lightgreen: #9DBEAA;
  --darkgreen: #2D6257;
  --lightbrown: #CCB4A4;
  --darkbrown: #794835;
  --white: #FFFEF2;
  --black: #271D16;

  --t-white: #FFFEF2BB;
  --t-black: #271D1677;
  --t-brown: #BD9F8955;
  --t-darkbrown: rgba(121,72,53,0.7);

  --title-font: mini-wakuwaku, sans-serif;
  --body-font: 'Nunito', sans-serif;



}

html {
  scroll-behavior: smooth;
}

* {
  color: var(--black);
  font-family: var(--body-font);
  cursor: url(assets/cursor.png), auto;

}

body {
  background-color: var(--lightgreen);
  margin: 0;
  padding: 0;
  overflow: overlay;


}

.background {
  box-sizing: border-box;
  z-index: -100;
  height: 100vh;
  width: 100vw;
  background-image: url(assets/cake.png), url(assets/tea.png), url(assets/bubbletea.png), url(assets/bear.png), url(assets/cake2.png), url(assets/coffee.png), url(assets/roll.png);
  background-position: 5% 10%, 82% 95%, 100% 80%, 95% 20%, 60% 105%, 15% 100%, 2% 52%;
  background-repeat: no-repeat;
  opacity: 50%;
  background-size: 35vh;
  position: fixed;

}

a {
  text-decoration: none;
}

h1 {
  font-family: var(--title-font);
  color: var(--darkbrown);
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 18px;
}

.welcome {
  height: 100vh;
  padding-top: 200px;
  box-sizing: border-box;
}

.welcome .welcome-to-the {
  text-align: center;
  font-size: 48px;
  color: var(--t-white);
}

.welcome .big-title {
  font-size: 120px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

#barista {
  top: 380px;
  position: absolute;
  height: calc(105vh - 380px);
  left: 5%;
}

#letsgo {
  position: absolute;
  top: 70vh;
  left: calc(105vh - 380px);
  font-size: 48px;
  text-align: center;
  color: var(--pink);
  text-shadow: 2px 2px var(--t-black);
  z-index: 100;
}
#letsgo:hover {
  text-shadow: 2px 2px var(--t-white);
}



button.showfavs {
  position: fixed;
  padding: 50px;
  /* width: 50px; */
  /* height: 50px; */
  background-color: var(--t-white);
  right: 20px;
  bottom: 10px;
  border-radius: 100px;
  border: 7px solid var(--lightbrown);
  background-image: url('assets/fav.png');
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: padding 0.3s;
}

button.showfavs:hover {
  background-color: var(--white);
  padding: 60px;
  /* width: 60px; */
  /* height: 60px; */
}

#frog {
  position: fixed;
  width: 100px;
  /* width: 50px; */
  /* height: 50px; */
  right: -25px;
  bottom: calc(50vh - 100px);
  transition: right 0.3s;
}

#frog.showing {
  right: 0;
  /* width: 60px; */
  /* height: 60px; */
}

.container {
  margin: 10px auto;
  max-width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 10px;
}


#fav-box-container {
  display: none;
  width: 30%;
  max-width: 400px;

}

#fav-box {
  border: 7px solid var(--lightbrown);
  border-radius: 40px;
  background-color: var(--t-white);
  padding: 20px;
  position: sticky;
  top: 40px;
  height: 85vh;
}

#fav-list {
  overflow-y: scroll;
  height: 90%;
}

#content-box {
  width: 800px;
  border: 7px solid var(--lightbrown);
  border-radius: 40px;
  background-color: var(--t-white);
  padding: 20px;
}

.box {
  margin-bottom: 10px;
}

.box h1 {
  margin-right: 65px;
}


/* Style the search box inside the navigation bar */
.search-bar {
  width: 100%;
}

.search-bar input[type=text] {
  padding: 8px 10px;
  background-color: var(--white);
  border: 7px solid var(--lightbrown);
  font-size: 17px;
  border-radius: 20px;
  width: 100%;
  box-sizing:border-box;

  background-image: url('assets/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px;


}

.search-bar input[type=text]:focus {
  outline:none;
  border-color: var(--darkbrown);
}


.search-bar input[type=text]::placeholder {
  color: var(--t-black);
}


.filters {
  padding: 5px 10px;
  display: flex;
  gap: 10px;
  flex-flow: row wrap;
}

.filter {
  font-size: 16px;
  background-color: transparent;
  border-radius: 30px;
  border: 3px var(--pink) solid;
  padding: 5px 10px ;

}

.filter:hover[data-selected='0'] {
  background-color: var(--white);
}

.filter[data-selected='1']{
  background-color: var(--t-brown)
}






.resource-box {
  border: 7px solid var(--lightbrown);
  background-color: var(--white);
  border-radius: 20px;
  padding: 15px 25px;
  padding-top: 10px;
  position: relative;
}

.resource-box p {
  margin: 5px 0;
}

.fav-item {
  border: 7px solid var(--pink);
  background-color: var(--white);
  border-radius: 20px;
  padding: 15px 25px;
  padding-top: 10px;
  position: relative;
  display: none;
}
.fav-item.showing {
  display: block;
}

p.desc {

}

p.duration {
  /* font-size: 16px; */
  font-weight: bold;
  white-space: nowrap;
}

.add-fav {
  padding: 25px;
  background-color: var(--t-white);
  border: 5px solid var(--lightbrown);
  position: absolute;
  top: 15px;
  right: 25px;
  border-radius: 50px;
  background-image: url('assets/fav.png');
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: 0.3s;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.add-fav:hover {
  border-color: var(--pink);
  padding: 30px;
  /* width: 60px; */
  /* height: 60px; */
}

.add-fav.in-fav {
  background-color: var(--pink);
  border-color: var(--darkbrown);
  /* background-color: var(--white); */
}

.add-fav.in-fav:hover {
  border-color: var(--lightbrown);
}

.add-fav.in-fav-box:hover {
  background-image: url("assets/cancel.png")
}

.meta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.info {
  align-items: flex-end;
  margin-top: 20px;
}

.buttons {
  align-items: center;
}

.tag {
  border-radius: 30px;
  border: 3px var(--lightgreen) solid;
  padding: 5px 10px ;
}

.tags-list {
  display: flex;
  flex-flow: row wrap;
  row-gap: 5px;

  align-items: center;
}

.use-button {
  border-radius: 10px;
  background-color: var(--lightbrown);
  padding: 5px 20px;
  border: 6px var(--lightbrown) solid;
  box-sizing: content-box;
}
.use-button p {
  text-align: center;
  margin: 0;
  color: var(--white);
  font-weight: bold;
}

.use-button:hover {
  border: 6px var(--darkbrown) solid;
  background-color: var(--darkbrown);
}


.slidecontainer {
  width: 100px;
  position: fixed;
  left: 10px;
  bottom: 145px;
  transform: rotate(-90deg);
  padding: 10px;
  padding-top: 15px;
  padding-right: 15px;
  background-color: var(--t-white);
  border: 7px solid var(--lightbrown);
  border-radius: 0 100px 100px 0;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background-color: var(--t-brown); /* Grey background */

  border-radius: 100px;
  /* outline: none; /* Remove outline */
  /* opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  /* -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  /* transition: opacity .2s; */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--pink); /* Green background */
  border-radius: 100px;

}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--pink); /* Green background */
  border-radius: 100px;
}


#mutesong {
  position: fixed;
  padding: 50px;
  background-color: var(--t-white);
  left: 20px;
  bottom: 10px;
  border-radius: 100px;
  border: 7px solid var(--lightbrown);
  background-image: url(assets/cd.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transition: padding 0.3s;
  animation: rotate 3s linear 0s infinite;
}

@keyframes rotate {
  from{transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#muted {
  background-image: url(assets/slash.png);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  position: fixed;
  width: 90px;
  left: 30px;
  bottom: 27px;
  pointer-events: none;
  display: none;
}

#mutesong.muted {
  animation-play-state: paused;
}




@media (max-aspect-ratio: 8/5)
{
  #content-box {
    width: 90%;
  }



}

@media (max-aspect-ratio: 1/1)
{
  .background {
    background-size: 25vw;

  }

  .welcome {
    padding-top: 20vh;
  }

  .welcome .big-title {
    font-size: 20vw;
  }


  #barista {
    position: relative;
    left: 0;
    top: 0;
    height: 30vh;
  }

  #letsgo {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    display: block;
  }

}




@media (hover: none) {
  .filter:hover[data-selected='0'] {
    background-color: transparent;
  }

  .add-fav:hover {
    border-color: var(--lightbrown);
    padding: 25px;
    /* width: 60px; */
    /* height: 60px; */
  }

  .add-fav.in-fav-box {
    background-image: url("assets/cancel.png")
  }

  .add-fav.in-fav:hover {
    border-color: var(--darkbrown);
  }



}
